@page "/general-calendar"
@using ProjectManager.Web.Components
@using ProjectManager.Web.Components.CalendarComponents
@using ProjectManager.Web.Components.Modals

@layout CascadeLayout

<div class="calendar-container">
    <div class="calendar-nav"> 
        <div>
            <button class="nav-button" @onclick="() => { monthsAway--; CreateMonth(); }">
                <i class="fa-solid fa-arrow-left"/>
            </button>
            <button class="nav-button" @onclick="() => { monthsAway++; CreateMonth(); }">
                <i class="fa-solid fa-arrow-right"/>
            </button>
            <button class="nav-button" @onclick="() => { monthsAway=0; CreateMonth(); }">
                <span>Today</span>
            </button>
            <span class="month-span">@monthName, @year</span>
        </div>
        <div class="week-nav">
            <div>MON</div>
            <div>TUE</div>
            <div>WED</div>
            <div>THU</div>
            <div>FRI</div>
            <div>SAT</div>
            <div>SUN</div>
        </div>
    </div>
    <section>
        @for (int i = previousMonthEnd - numDummyColumn + 1; i < previousMonthEnd + 1; i++)
        {
            <div>
                <span class="gray-span">@i</span>
            </div>
        }
        @for (int i = 1; i <= monthEnd.Day; i++)
        {
            int day = i;
            if (monthsAway == 0 && i == DateTime.Now.Day)
            {
                <div class="today" @onmouseover="() => { showAddButton = day; }" @onmouseout="() => { showAddButton = 0; }">
                    <div style="display: flex; width: 100%">
                        <span class="day-span">@i</span>
                        @if (showAddButton == i)
                        {
                            <i class="fa-regular fa-calendar-plus add-button" 
                                data-bs-target="#addAppointment" 
                                data-bs-toggle="modal" 
                                aria-expanded="false"
                                @onclick="() => { DateToPass = new DateTime(year, month, day); }"/>
                        }
                    </div>
                    <div style="display: flex; margin-top: 0.7rem;">
                        @if (appointments != null)
                        {
                            @foreach (var appointment in appointments.Where(a => a.Date.Date == new DateTime(year, month, day).Date))
                            {
                                <div class="dropstart">
                                    <i class="fa-solid fa-file-lines appointment" id="appointmentDetailsDropdown" data-bs-toggle="dropdown" aria-expanded="false"/>
                                    <AppointmentDetails Appointment="appointment"/>
                                </div>
                            }
                        }
                        @if (assignments != null)
                        {
                            @foreach (var assignment in assignments.Where(a => a.Deadline.Date == new DateTime(year, month, day).Date))
                            {
                                <i class="fa-solid fa-file-lines assignment" id="appointmentDetailsDropdown" data-bs-toggle="dropdown" aria-expanded="false" />
                                <AppointmentDetails Assignment="assignment" />
                            }
                        }
                    </div>
                </div>
            }
            else
            {
                <div @onmouseover="() => { showAddButton = day; }" @onmouseout="() => { showAddButton = 0; }">
                    <div style="display: flex; width: 100%">
                        <span class="day-span">@i</span>
                        @if (showAddButton == i)
                        {
                            <i class="fa-regular fa-calendar-plus add-button" 
                                data-bs-target="#addAppointment" 
                                data-bs-toggle="modal" 
                                aria-expanded="false"
                                @onclick="() => { PassDateToModal(day); }" />
                        }
                    </div>
                    <div style="display: flex; margin-top: 0.7rem;">
                        @if (appointments != null)
                        {
                            @foreach (var appointment in appointments.Where(a => a.Date.Date == new DateTime(year, month, day).Date))
                            {
                                <div class="dropstart">
                                    <i class="fa-solid fa-file-lines appointment" id="appointmentDetailsDropdown" data-bs-toggle="dropdown" aria-expanded="false"/>
                                    <AppointmentDetails Appointment="appointment"/>
                                </div>
                            }
                        }
                        @if (assignments != null)
                        {
                            @foreach (var assignment in assignments.Where(a => a.Deadline.Date == new DateTime(year, month, day).Date))
                            {
                                <i class="fa-solid fa-file-lines assignment" id="appointmentDetailsDropdown" data-bs-toggle="dropdown" aria-expanded="false" />
                                <AppointmentDetails Assignment="assignment"/>
                            }
                        }
                    </div>
                </div>
            }
        }
        @if (nextMonthStart < 7)
        {
            @for (int i = 1; i < nextMonthStart + 1; i++)
            {
                <div>
                    <span class="gray-span">@i</span>
                </div>
            }
        }
        @if (User != null)
        {
            <AddAppointment Date="DateToPass" @ref="child" onAppointmentCreate="GetAppointments"/>
        }
    </section>
</div>
