@using ProjectManager.Web.Components.Modals

@if (User != null && Projects != null)
{
    <div>
        <div class="flex mt-3 ms-3 me-2">
            <h4>Managed projects</h4>
            <AddProject UpdateProjectList="RefreshProjects"/>
        </div>

        <div id="carouselExampleControls" class="carousel-container carousel slide mt-4 pb-4" data-bs-ride="carousel" data-bs-interval="false">
            @if (Projects.Count() > 2)
            {
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active indicator" aria-current="true"></button>
                    @for (var i = 2; i < Projects.Count(); i+=2) 
                    {
                        var j = i - (i/2);
                        <button id="indicator-@i" type="button" class="indicator" data-bs-target="#carouselExampleControls" data-bs-slide-to="@j"></button>
                    }
                </div>
            }
            <div class="carousel-inner">
                @if (Projects.Count() > 1)
                {
                    <div class="carousel-item active">
                        <div class="projects-slider">
                            <div id="project-tab" class="single-project ms-3" @onclick="() => { if(!IsButtonHovered) Redirect(Projects.FirstOrDefault().Id.ToString()); }">
                                <p>@Projects.FirstOrDefault().Name</p>
                                <i id="invitation-btn"
                                   class="fa-solid fa-user-plus invite-button" 
                                   @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.FirstOrDefault(); }" 
                                   @onmouseout="() => { IsButtonHovered = false; }"
                                   data-bs-toggle="modal" 
                                   data-bs-target="#generateInvitationLink" />
                                <i id="delete-project-btn"
                                   class="fa-solid fa-trash-can delete-button" 
                                   @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.FirstOrDefault(); }" 
                                   @onmouseout="() => { IsButtonHovered = false; }"
                                   data-bs-toggle="modal" 
                                   data-bs-target="#removeProjectConfirm" />
                            </div>
                                <div class="single-project ms-4" @onclick="() => { if(!IsButtonHovered) Redirect(Projects.Skip(1).FirstOrDefault().Id.ToString()); }">
                                <p>@Projects.Skip(1).FirstOrDefault().Name</p>
                                <i class="fa-solid fa-user-plus invite-button" 
                                   @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.Skip(1).FirstOrDefault(); }" 
                                   @onmouseout="() => { IsButtonHovered = false; }"
                                   data-bs-toggle="modal" 
                                   data-bs-target="#generateInvitationLink" />
                                <i class="fa-solid fa-trash-can delete-button" 
                                   @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.Skip(1).FirstOrDefault(); }" 
                                   @onmouseout="() => { IsButtonHovered = false; }"
                                   data-bs-toggle="modal" 
                                   data-bs-target="#removeProjectConfirm" />
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="carousel-item active">
                        <div class="single-project ms-3" @onclick="() => { if(!IsButtonHovered) Redirect(Projects.FirstOrDefault().Id.ToString()); }">
                            <p>@Projects.FirstOrDefault().Name</p>
                            <i class="fa-solid fa-user-plus invite-button"
                               @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.FirstOrDefault(); }"
                               @onmouseout="() => { IsButtonHovered = false; }"
                               data-bs-toggle="modal"
                               data-bs-target="#generateInvitationLink" />
                            <i class="fa-solid fa-trash-can delete-button" 
                               @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.FirstOrDefault(); }" 
                               @onmouseout="() => { IsButtonHovered = false; }"
                               data-bs-toggle="modal" 
                               data-bs-target="#removeProjectConfirm" />
                        </div>
                    </div>
                }
                @for (var i = 2; i < Projects.Count(); i+=2)
                {
                    <div class="carousel-item">
                        <div class="projects-slider">
                            <div class="single-project ms-3" @onclick="() => { if(!IsButtonHovered) Redirect(Projects.Skip(i-2).FirstOrDefault().Id.ToString()); }">
                                <p>@Projects.Skip(i).FirstOrDefault().Name</p>
                                <i class="fa-solid fa-user-plus invite-button" 
                                   @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.Skip(i-2).FirstOrDefault(); }" 
                                   @onmouseout="() => { IsButtonHovered = false; }"
                                   data-bs-toggle="modal" 
                                   data-bs-target="#generateInvitationLink" />
                                <i class="fa-solid fa-trash-can delete-button" 
                                   @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.Skip(i-2).FirstOrDefault(); }" 
                                   @onmouseout="() => { IsButtonHovered = false; }"
                                   data-bs-toggle="modal" 
                                   data-bs-target="#removeProjectConfirm" />
                            </div>
                            @if (@Projects.Skip(i + 1).FirstOrDefault() != null)
                            {
                                <div id="test-project-tab" class="single-project ms-4" @onclick="() => { if(!IsButtonHovered) Redirect(Projects.Skip(i-1).FirstOrDefault().Id.ToString()); }">
                                    <p>@Projects.Skip(i+1).FirstOrDefault().Name</p>
                                    <i class="fa-solid fa-user-plus invite-button"
                                       @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.Skip(i-1).FirstOrDefault(); }"
                                       @onmouseout="() => { IsButtonHovered = false; }"
                                       data-bs-toggle="modal"
                                       data-bs-target="#generateInvitationLink" />
                                    <i class="fa-solid fa-trash-can delete-button" 
                                       @onmouseover="() => { IsButtonHovered = true; ProjectToPass = Projects.Skip(i-1).FirstOrDefault(); }" 
                                       @onmouseout="() => { IsButtonHovered = false; }"
                                       data-bs-toggle="modal" 
                                       data-bs-target="#removeProjectConfirm" />
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<RemoveProjectConfirm Project="ProjectToPass" OnProjectDelete="RefreshProjects"/>
<GenerateInvitation ProjectId="ProjectToPass.Id" Js="js"/>