@if (Project != null)
{
    <div style="position: fixed;">
        <div style="display: flex;">
            <div class="pe-3">
                <span class="fa-solid fa-circle-user mt-1 ms-1 user-icon" />
            </div>
            <div>
                @Project.Manager.Firstname @Project.Manager.Lastname
                <p class="user-role">@Project.Manager.Role</p>
            </div>
        </div>
        @foreach (var user in Project.Users.Where(u => u.Role != 0))
        {
            <div class="mb-1">
                <div style="display: flex;">
                    <div class="pe-3">
                        <span class="fa-solid fa-circle-user mt-1 ms-1 user-icon" />
                    </div>
                    <div>
                        @user.Firstname @user.Lastname
                        <p class="user-role">@user.Role.ToString()</p>
                    </div>
                </div>
            </div>
        }
    </div>
}

